@charset "UTF-8";

#wrap {
  width : 100%;
  height : auto;
  border : 1px solid;
  box-sizing: border-box;
}

.header {
  width : 100%;
  height : 200px;
  background: #b7b;
  position : fixed;
  left : 0;
  top : 0;
  z-index: 3;
}

.main {
  width : 100%;
  height : auto;
  position : relative;
}

.footer {
  width : 100%;
  height : 300px;
  position : fixed;
}

.main .nav {
  width : 100%;
  height : 600px;
  background: #ccc;
}

.main .section {
  width : 100%;
  height : 300px;
  border : 10px solid #00f;
  box-sizing: border-box;

}

.section.sec3 {
  height : 500px;
  border : 10px solid #c194c3;
  box-sizing: border-box;
  position : relative;
}

.section.sec3 .con{
  width : 33.3333%;
  height : 200px;
  /*border : 10px solid #737357;*/
  position : absolute;
  box-sizing: border-box;
  font-size: 100px;
  transition: 0.5s;
  text-align: center;
}

.section.sec3 .son1{
  left:0;
}

.section.sec3 .son2{
  left:33.33%;
}

.section.sec3 .son3{
  left : 66.66%;
}

.section.sec3 .one{
  top :20px;
}
.section.sec3 .two{
  top : 250px;
}

@media only screen and (max-width:767px){
  .section.sec3{
    height : 750px;
  }
  .section.sec3 .con{
    width : 50%;
  }
  .section.sec3 .left{ left:0;}
  .section.sec3 .right{ left:50%;}

  .section.sec3 .con.one.son3{
    top:500px;
  }
  .section.sec3 .con.two.son3{
  top:500px;
  }
/*}
1. liteBox

#wrap 100%*auto
.header 100%*200 fixed left:0 top :0
.main 100% * relative
  .nav 100%*600 자동갤러리 fade 적용
  .section * 3 100%*500 position : absolute;

  .section3 .son1*2 .son2*2 .son3*2
            left:0   left:33.33  left:66.66
            width:33  width : 33   width : 33

  .section4 100%*150  absolute

  .footer  100%*300 fixed bottom:0;left:0;
          attachment

@media only screen and (max-width:767 ?){
    .section3 .left{left:0; width:50%}
    .section3 .right(left:50%;width:50%;)
}*/
